@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: 'Geist', sans-serif;
    @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }


  @font-face {
    font-family: 'Geist';
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Geist';
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Geist';
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Geist';
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    src:
      local('Geist'),
      url('public/fonts/geist-variable.woff2') format('woff2');
    font-weight: 400;
  }
}
