@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

/* Font */
  body {
    font-family: 'geist-mono';
    @apply bg-lightBg text-gray-900 dark:bg-darkBg dark:text-gray-100;
  }

  /* Enlaces salientes */
  a[target="_blank"] {
    @apply text-blue-500 no-underline transition-colors hover:underline hover:text-blue-600 dark:hover:text-amber-300 relative pr-5 inline-flex items-center;
  }
  a[target="_blank"]::after {
    content: "↗";
    @apply ml-1 text-sm;
  }
  .prose a {
    all: unset;
    @apply text-blue-500 no-underline hover:underline hover:text-blue-600 inline-flex items-center;
  }
  .prose a[target="_blank"] {
    all: unset;
    @apply text-red-500 no-underline hover:underline hover:text-red-700 relative pr-5 inline-flex items-center;
  }
  .prose a[target="_blank"]::after {
    content: "↗";
    @apply ml-1 text-sm;
  }
  @font-face {
    font-family: 'geist-mono';
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    font-weight: 700;
  }

  @font-face {
    font-family: 'geist-mono';
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    font-weight: 600;
  }

  @font-face {
    font-family: 'geist-mono';
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'geist-mono';
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    src:
      local('geist-mono'),
      url('/fonts/geist-mono-variable.woff2') format('woff2');
    font-weight: 400;
  }
}
