---
import { clsx } from "@utils/index";

const { ship_count } = Astro.props;
---

<div
	class={clsx(
		'size-9 mb-4 rounded-full',
		ship_count === 0 && 'bg-gray-100',
		ship_count <= 2 && 'bg-[#615EFC]',
		ship_count > 2 && ship_count <= 4 && 'bg-[#432DD8]',
		ship_count > 4 && 'bg-[#312C85]'
	)}>
</div>
