---
import RootLayout from '@layouts/root-layout.astro';
import { BaseHead } from '@components/seo';
import { Header } from '@components/misc';
---

<!doctype html>
<html lang="es">
<head>
	<BaseHead title="Colophon" description="Sobre la creación de este sitio web." />
</head>
<body>
	<RootLayout>
		<div id="navbar+title" class="flex flex-col w-full gap-6 max-w-xl">
			<Header />
			<h1 class="w-full text-7xl font-medium tracking-tight mb-6">/colophon</h1>
			
			<section class="prose prose-neutral dark:prose-invert">
				<p>
					Este sitio web está construido con <a href="https://astro.build/">Astro</a> y desplegado en <a href="https://www.cloudflare.com/">Cloudflare</a>.
					Su diseño es simple, y se basa en la plantilla <a href="https://github.com/Spikeysanju/sanju.sh"> KISS </a> para Astro que diseñó <a href="https://www.sanju.sh/">Sanju.sh</a>.
				</p>
				
				<h2>Tecnologías usadas</h2>
				<ul>
					<li>Framework: <a href="https://astro.build/">Astro</a></li>
					<li>Despliegue: <a href="https://www.cloudflare.com/">Cloudflare</a></li>
					<li>Estilos: <a href="https://tailwindcss.com/">Tailwind CSS</a></li>
					<li>Fuente tipográfica: <a href="https://github.com/vercel/geist-font">Geist  Mono</a></li>
				</ul>

				<h2>Código fuente</h2>
				<p>
					Puedes ver el código de este sitio en <a href="https://github.com/javimont/jvmnt-blog">mi proyecto</a> de GitHub.
				</p>
			</section>
		</div>
	</RootLayout>
</body>
</html>